:root {
--primary: #6F1D1B;
--secondary: #BB9457;
--dark: #432818;
--accent: #99582A;
--bg: #FFE6A7;
}

body{
    display: inline;
    text-align: center;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image{
    width: 150px;
    padding: auto;   
    border: dotted 10px;
    border-radius: 20px;
}

.card{
    flex-direction: row-reverse;
    padding: 20px;
    border: dotted 1px black;
    margin: 0px auto;
    width: 400px;
    display: block;
    text-align: black center;
    display: flex;
    justify-content: space-evenly;
   
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid;
    font-weight: 100px;
}